<h1>Welcome to the {{ title }} </h1> <!-- Displays the title within the h1 tag -->

<p>A web app by {{ author }}</p> <!-- Displays the author within the p tag -->

<p><a href="/feedback-form">Submit feedback here</a></p> <!-- Link to the feedback form -->