<h1>Thank you!</h1>

<h2>Thank you for your feedback. To confirm, this is the data you sent,</h2>

<h3>Name: {{ name }} </h3> <!-- displays the name that was submitted in the form -->
<h3>email: {{ email }} </h3> <!-- displays the email that was submitted in the form -->
<h3>Message: {{ message }} </h3> <!-- displays the message that was submitted in the form -->
<h3>Current student: {{ currentStudent }} </h3> <!-- displays the current student that was submitted in the form -->

<a href= "/">Back to the home page</a> <!-- Link to the home page -->